#bs-sidebar {
    flex: 0 0 300px;
    padding: 4px;
    background-color: #1a1a3a;
    height: auto;
  }
  
  @media (max-width: 768px) {
    #bs-sidebar {
      position: relative; 
      top: 0;
      height: auto; 
      width: 100%; 
    }
  }  

  .sidebar-post-card {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1a1a40; 
    color: white;
    overflow: hidden;
    cursor: pointer;
  }
  
  .sidebar-post-card:hover {
    background-color: #141432; 
  }
  
  .post-image-container img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .post-content {
    flex-grow: 1;
    overflow: hidden;
  }
  
  .post-title,
  .post-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 20px); 
  }
  
  .chevron-icon {
    color: #434384;
  }

.recent-game-card {
    display: flex;
    align-items: start;
    gap: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1a1a40; 
    color: white;
    overflow: hidden;
  }
  
  .recent-game-card:hover {
    background-color: #141432;
  }
  
  .map-image-container img {
    width: 126px; 
    height: 204px; 
    object-fit: cover;
    border-radius: 5px;
  }
  
  .game-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
  }
  
  .game-info .game-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .brawler-info img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .brawler-info .brawler-name {
    font-size: 0.85rem;
    font-weight: bold;
  }
  
  .brawler-info .brawler-level {
    font-size: 0.8rem;
    color: #ccc;
  }
  
  .game-stats .game-stat {
    font-size: 0.85rem;
    margin: 0;
  }
  
  .game-stats .kills {
    color: #28a745; 
  }
  
  .game-stats .deaths {
    color: #dc3545; 
  }
  
  .game-stats .damage {
    color: #ffc61c; 
  }
  